<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>折线图</title>
	<script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
	<div id="line_charts" style="width: 600px;height:400px;"></div>

	<script type="text/javascript">
		var line_chart = echarts.init(document.getElementById('line_charts'));
		var line_option = {
			title: {
				text: 'echartsdemo',
				x: 'middle'
			},
			toolbox: {
				show: false,
				feature: {
					dataZoom: {
						yAxisIndex: 'none'
					},
					restore: {},
					saveAsImage: {}
				}
			},
			tooltip: {},
			legend: {
				x: 'left',
				data: []
			},
			xAxis: {
				type: 'category',
				data: []
			},
			yAxis: {
				type: 'value'
			},
			series: [
				{
					name: '',
					type: 'line',
					data: []
				},
			]
		};

		line_chart.showLoading();

		function line_charts_lc(){
			$.ajax({
				url: '/linecharts/',
				type: 'post',
				dataType: "json",
                data: {},
				success: function(response){
					//line_option.legend.data = response.dates;
					line_option.xAxis.data = response.xtimes;
					//line_option.series[0].name = response.dates[0];
					line_option.series[0].data = response.values;

					line_chart.setOption(line_option);

					line_chart.hideLoading();
				}
			})
		}

		line_charts_lc();
		window.setInterval("line_charts_lc()", 6000);

	</script>
</head>
<body>

</body>
</html>